sudo: false
dist: trusty

language: ruby
rvm:
 - 2.2.0
 - 2.3.0
 - 2.4.0
 - ruby-head
notifications:
  irc:
    channels:
      - "irc.freenode.org#r509"
    use_notice: true
    skip_join: true
    on_success: always
    on_failure: always
