certificate_authorities: {
    test_ca: {
        ca_cert: {
            cert: "/some/path/to/ca.cer",
            key: "/some/path/to/ca_key.pem"
        }
    },
    second_ca: {
        ca_cert: {
            cert: "/Users/sschulte/code/r509/spec/fixtures/second_ca.cer",
            key: "/Users/sschulte/code/r509/spec/fixtures/second_ca.key"
        }
    }
}
